/* Headline */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    text-align: center;
}

.headline #description {
    margin: 24px;
    background-color: #fff;
    text-align: center;
}

.headline a {
    font-weight: 600;
}

/* logo selection section */

.logo-selection {
    text-align: center;
}

/* past festival */

.past-festival {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.past-festival img {
    width: 70%;
    margin: 6px;
}

.past-festival .last-festival {
    margin-top: 30px;
}

.past-festival .before-last {
    margin-bottom: 42px
}