/* Headline */

.headline {
    text-align: center;
}

.headline #description {
    margin: 24px;
    background-color: #fff;
    text-align: center;
}

.headline a {
    font-weight: 600;
}

/* logo selection section */

.logo-selection {
    text-align: center;
}

/* past festival */

.past-festival {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.past-festival .last-festival-showed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.past-festival .last-festival-div {
    margin: 12px 24px;
    width: 400px;
    height: 200px;
    background-color: #ec5242;
    position: relative;
    display: flex;
}

.past-festival img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

.past-festival .last-festival-div div {
    position: absolute;
    color: white;
    top: 30%;
    left: 5%;
    font-size: 16px;
}

.last-festival-div h5 {
    font-size: 24px;
}