/* Font */

@font-face {
    font-family: 'lato';
    src: url(/fonts/Lato2OFL/Lato-Regular.ttf) format('truetype');
}

.lato-font-red {
    margin: 0;
    color: #ec5242;  
    font-family: 'lato',Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.40px;
}

.lato-font-back {
    margin: 0;
    color: #272a31;  
    font-family: 'lato',Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.40px;
}

/* Mobile first style */

* {
    padding: 0;
    margin: 0;
}

/* nav */

main {
    padding-top: 12px;
}

.nav-bar,
.headline {
    background-color: rgb(0, 0, 0, 5%);
    padding-left: 12px;
}

.hamburger-class img{
    width: 20px;
    height: auto;
}

/* Headline */

.headline h2 {
    margin: 24px 0 6px;
}

.headline h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.40px;
}

.headline #description {
    border: solid 2px #fff;
}

/* Main program section */

.main-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272a31;
    padding: 36px 0;
}

.main-program h2 {
    text-align: center;
    color: #d2d2d2;
}


.main-program li {
    margin: 12px;
    list-style: none;
    background-color: rgb(200, 200, 200, 10%);
}

.main-program a {
    color: #d2d2d2;
    text-decoration: none;
}

.main-program a div {
    display: flex;
    align-items: center;
}


.main-program img {
    width: 36px;
}

.main-program li a .program-content{
    margin: 12px 24px;
}

.main-program .join-btn {
    color: #d2d2d2;
    background-color: #ec5242;
    border-color: #ec5242;
    margin-top: 12px;
    padding: 24px 36px;
    width: fit-content;
}

/* featured speakers section */

.featured-speakers .every-feature {
    margin: 24px;
    display: flex;
}

.featured-speakers .speaker-picture {
    margin-right: 24px;
    order: -1;
    width: 100px;
}

.featured-speakers div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* partner section */

.partner-pool {
    background-color: #272a31;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-pool .partner-logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.partner {
    text-align: center;
    flex: 1 1 100px;
}

footer {
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 40px;
}

@media all and (min-width: 768px) {
    body {
        background-color: black;
    }
}