
/* Font */

@font-face {
  font-family: 'lato';
  src: url(/fonts/Lato2OFL/Lato-Regular.ttf) format('truetype');
  font-family: 'lato-bold';
  src: url(/fonts/Lato2OFL/Lato-Bold.ttf) format('truetype');
}

.lato-font-red {
  margin: 0;
  color: #ec5242;
  font-family: 'lato', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.lato-font-black {
  margin: 0;
  color: #272a31;
  font-family: 'lato', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.4px;
}

/* Mobile first style */

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  background-image: url(../img/root/mobile_bg.png);
  background-repeat: repeat;
}

/* nav */

header .header-links,
.nav-bar .menu-bar {
  display: none;
}

.nav-bar {
  background-color: rgb(0, 0, 0, 5%);
  padding: 24px 0 0 24px;
}

.hamburger-class img {
  width: 40px;
  height: auto;
}

/* Main menu */

.main-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.main-menu ul {
  margin-top: 30px;
}

.main-menu li {
  text-align: center;
  margin: auto;
  width: 70%;
  border: solid #ec5242 2px;
  border-top: none;
  margin-bottom: 36px;
}

.main-menu li a {
  color: #272a31;
  font-family: 'lato', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 0.4px;
}

/* Headline */

.headline {
  padding: 84px 24px;
}

.headline #greeting {
  margin-bottom: 6px;
}

.headline h1 {
  background-image: url(../img/root/headerbg.jpeg);
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 42px;
  line-height: 36px;
  letter-spacing: 0.4px;
}

.headline #introduction {
  background-color: rgb(250, 248, 254);
  padding: 24px;
  border: solid 4px #fff;
}

.headline #event-date {
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
}

/* Main program section */

.main-program {
  background-size: 40px;
  background-image: url(../img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-046.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;
}

.main-program h2 {
  text-align: center;
  color: #d2d2d2;
  line-height: 48px;
  margin-bottom: 24px;
}

.underline-style {
  margin: auto;
  display: block;
  width: 40px;
  height: 0.06em;
  background-color: #ec5242;
  margin-top: 20px;
}

.main-program li {
  margin: 12px;
  background-color: rgb(100, 100, 50, 10%);
}

.main-program a div {
  display: grid;
  grid-template-columns: auto 100px auto;
  align-items: center;
}

.main-program li a .program-content {
  margin: 12px 24px;
}

.main-program img {
  width: 36px;
}

.main-program li a p {
  color: #d2d2d2;
}

.main-program .join-btn {
  color: #d2d2d2;
  background-color: #ec5242;
  border-color: #ec5242;
  margin-top: 12px;
  padding: 24px 36px;
  width: fit-content;
}

.main-program #see-program {
  display: none;
}

/* featured speakers section */

.speakers-section {
  background-color: #f9f9f9;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
}

.speakers-section h3 {
  font-weight: 700;
  line-height: 50px;
  order: -1;
  margin: auto;
}

.featured-speakers {
  padding: 24px 0;
}

.featured-speakers .every-feature {
  margin: 24px;
  display: flex;
}

.featured-speakers .speaker-picture {
  margin-right: 24px;
  order: -1;
  width: 100px;
  display: flex;
  margin-bottom: auto;
}

.featured-speakers img {
  object-fit: contain;
}

.featured-speakers div div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.speakers-section button {
  margin: auto;
  width: 90%;
  padding: 18px;
  font-weight: 700;
  font-size: 18px;
}

/* partner section */

.partner-pool {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
}

.partner-pool h3 {
  color: #a1a1a1;
  line-height: 48px;
}

.partner-pool .partner-logo {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.partner-logo .partner {
  margin: 12px 6px;
  max-width: 80%;
  height: 45px;
  display: flex;
  flex: 1 1;
}

.partner-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer {
  padding: 36px 13%;
  display: flex;
  align-items: center;
}

.copyright img {
  padding: 0 6%;
  max-width: 60px;
}

.main-menu #close-btn img {
  width: 60px;
  height: 40px;
  margin: 24px 0 0 15px;
}

@media all and (min-width: 768px) {
  header .header-links {
    padding-right: 12%;
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
  }

  .header-links li {
    padding: 0 12px;
  }

  .header-links a {
    color: #fff;
    font-size: small;
    font-weight: 200;
    line-height: 24px;
  }

  .hamburger-class {
    display: none;
  }

  .nav-bar {
    padding: 0;
  }

  .nav-bar .menu-bar {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 6px 13%;
  }

  .menu-bar li {
    text-align: center;
    margin: auto;
    padding: 0 6px;
    flex: 1 1;
  }

  .menu-bar .menu-logo {
    text-align: left;
    flex: 2 1;
  }

  .menu-logo img {
    max-width: 70px;
    height: 100%;
  }

  .menu-bar .campaign {
    padding: 6px;
    border: solid #ec5242 4px;
    flex: 2.5 1;
  }

  .headline {
    padding-right: 13%;
    padding-left: 13%;
  }

  .headline h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 52px;
    letter-spacing: 0.8px;
  }

  .headline #introduction {
    max-width: 50%;
    min-width: 500px;
  }

  .main-program ul {
    padding: 36px 13%;
    display: flex;
  }

  .main-program li {
    width: 20%;
    text-align: center;
    margin: 1px;
  }

  .main-program div {
    flex-direction: column;
  }

  .main-program a div {
    display: flex;
    flex-direction: column;
  }

  .main-program li a .program-content {
    margin: 12px;
  }

  .main-program .join-btn {
    display: none;
  }

  .main-program #see-program {
    color: #d2d2d2;
    display: block;
    text-decoration: underline;
    margin: 24px;
  }

  .featured-speakers {
    padding: 24px 13%;
    display: grid;
    grid-template-columns: auto auto;
  }

  .speakers-section button {
    display: none;
  }

  .partner-pool {
    padding: 36px 13%;
  }

  footer {
    padding: 48px 13%;
  }
}
